<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueBeacon Dashboard</title>
</head>
<header>
    <div class="sidebarcontainer">
        <div class="sidebar">
            <img src="static/files/lemonlight.jpeg" alt="LemonLight" class="logo" align="left">

            <a id="pipeline1">Pipeline 1</a>
            <a id="pipeline2">Pipeline 2</a>
            <a id="pipeline3">Pipeline 3</a>
            <a id="pipeline4">Pipeline 4</a>
            <a id="pipeline5">Pipeline 5</a>

            <b onclick="location.href = 'documentation.html';">Documentation</b>
            <b onclick="location.href = 'settings.html';">Settings</b>
        </div>
    </div>
</header>

<body>
    <div class="leftbar">
        Hi!
    </div>
</body>

</html>
