* {
margin:0;
padding:0;
}

html {
  font-size: 12px;
  font-family: "Arial", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: #e1e1e1;
}

.sidebarcontainer {
  white-space: nowrap;
}

.topbar {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  text-align: left;
  font-size: 30px;
  width: max(100vw, 1600px);
  background: #1c59dc;
  display: inline-block;
  white-space: normal;
}

.topbar b {
  flex: 1;
  float: left;
  color:#e1e1e1;
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.outer {
  position: relative;
  width: max(100%, 1920px);
}

.do_not_wrap {
  position: absolute;
  width: max(100%, 1920px);
}

.camera_display {
  width: max(40%, 850px);
  margin: 10px 10px 10px 10px;
  height: max(50%, 625px);
  background: #f6f6f6;
  border-radius: 20px;
  float: left;

  padding: 15px;
  font-size: 30px;
  color:black;
  display:inline;
}

.camera_display img {
  display: block;
  margin: 15px auto;
  height: 70%;
}

.camera_display p {
  text-align: center;
  font-size: 14px;
}

.pipeline_editor {
  width: max(50%, 750px);
  height: max(50%, 625px);
  background: #f6f6f6;
  border-radius: 20px;

  margin: 10px 10px 10px 10px;
  padding: 15px;
  font-size: 30px;
  color:black;

  float: right;
  display: inline;
}